# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\YandexDisk\broswer_ext\yandex_music_fisher_mod\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
